header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 999;
  }
  
  header,
  .header_content,
  .logo_holder,
  .header_content ul {
    display: flex;
    align-items: center;
  }
  
  .header_content {
    justify-content: space-between;
    color: var(--three);
  }
  
  .logo_holder {
    cursor: pointer;
    justify-content: center;
    font-weight: 800;
    gap: 10px;
    letter-spacing: 1px;
    font-size: 20px;
  }
  
  .image_holder img {
    position: relative;
    width: 40px;
  }
  
  .header_content ul a {
    color: var(--three);
    padding: 10px 20px;
  }
  
  .header_content ul a:hover {
    opacity: 0.7;
  }
  
  .header_content ul li button {
    background-color: var(--six);
    color: var(--three);
  }
  
  .header_content ul li button::before {
    background-color: var(--three);
  }
  
  .header_content ul li button:hover {
    color: var(--six);
  }
  
  .menu {
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: var(--six);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
    cursor: pointer;
  }
  .menu i {
    font-size: 18px;
    margin-top: 5px;
  }
  
  .menu_overlay {
    position: fixed;
    left: 0;
    top: 70px;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 900px) {
    header {
      height: 70px;
    }
    .menu {
      display: block;
    }
  
    .header_content ul {
      border-top: 1px solid #eee;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      position: fixed;
      right: -300px;
      top: 69px;
      width: 280px;
      height: calc(100vh - 70px);
      background-color: var(--white);
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
      z-index: 999;
    }
  
    ul.activeList {
      right: 0;
    }
  
    .active_overlay {
      width: 100%;
    }
  }
  
  .footer {
    background-color: var(--three);
    color: var(--four);
  }
  
  .footer_image {
    // background-image: url(../../assets/footer.jpg);
    background-image: url(./../assets/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer_image h2,
  .footer_image a {
    color: var(--white);
  }
  
  .footer_image a {
    margin-left: 10px;
    text-decoration: underline;
  }
  
  .footer_content {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 40px;
  }
  
  .footer_content > div {
    padding: 20px;
  }
  
  .footer_content > div:first-of-type img {
    width: 30px;
  }
  
  .logo_holder {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
  }
  
  .footer_content > div:first-of-type > p {
    margin: 20px 0;
  }
  
  .info {
    padding: 10px;
    border: 1px solid var(--four);
    background-color: var(--five);
  }
  
  .info span {
    color: var(--one);
    display: block;
    margin: 10px 0;
  }
  
  .footer_content > div:nth-child(2) ul li {
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .footer_content > div:nth-child(2) ul li:first-of-type {
    color: var(--white);
    cursor: none;
  }
  
  .footer_content > div:nth-child(2) ul li:hover {
    color: var(--white);
  }
  
  .footer_content > div:last-of-type h3 {
    color: var(--white);
  }
  
  .footer_content > div:last-of-type input {
    display: block;
    margin: 20px 0;
    padding: 10px;
    background-color: var(--five);
    border: none;
    outline: none;
  }
  
  .footer_content > div:last-of-type button {
    background-color: var(--one);
    margin-bottom: 20px;
  }
  
  .footer_content > div:last-of-type button:hover {
    color: var(--white);
  }
  
  .footer_content > div:last-of-type button::before {
    background-color: var(--three);
  }
  
  .footer_icons i {
    font-size: 20px;
    color: var(--white);
  }
  
  .footer_icons i:first-of-type {
    margin-right: 10px;
  }
  
  .footer_icons i:hover {
    color: var(--four);
  }
  
  @media (max-width: 380px) {
    .footer_content {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
  